# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
venv/
env/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data - do not commit raw heavy data
data/raw/
# If you prefer to not commit generated CSV, uncomment:
# data/processed/*.csv

# Models / outputs
results/
models/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
